*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(322deg,#efe1e1, #b83829);
    padding: 0.625rem;
}

.todo-app{
    width: 100%;
    max-width: 34rem;
    max-height: auto;
    background: #fff;
    margin: 6rem auto 1.25rem;
    padding: 2.25rem 2rem 3.25rem;
    border-radius: 0.5rem;
}

.todo-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.todo-app h2 img{
    width: 2rem;
    /* height: 4rem; */
    margin-left: 0.625rem;
    object-fit: contain;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 2rem;
    padding-left: 1.25rem;
    margin-bottom: 1.5rem;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0.625rem;
}
button{
    border: none;
    outline: none;
    padding: 1rem 3.25rem;
    background: #ff5945;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 3rem;
}

ul li{
    list-style: none;
    font-size: 1rem;
    padding: 0.725rem 0.5rem 0.725rem 2.25rem;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    background-image: url(assets/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 0.825rem;
    left: 0.5rem;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(assets/checked.jpg);
}

ul li span{
    position: absolute;
    right: 0;
    top: 0.05rem;
    width: 2.25rem;
    height: 2.25rem;
    font-size: 1.25rem;
    color: #555;
    line-height: 2.25rem;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: #edeef0;
}